.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.crypto-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.single-crypto {
  display: flex;
  border: 2px solid red;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  padding: 10px;
  cursor: pointer;
}

img {
  width: 30vw;
}
p{
  text-align: center;
}
ul{
  list-style: none;
}